# Ignore build folders
Ex3-build/
build/
*.dir/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Visual Studio
*.vcxproj*
*.sln
*.user
*.filters

# Qt generated
*.pro.user
moc_*
ui_*
qrc_*

# binaries
*.exe
*.dll
*.out

# temp
*.log
*.tmp